<div class="row">
    <div class="col-md-12">
        <p [class]="cls">
          extension paragraph
        </p>
    </div>
</div>
<div class="row">
        <div class="col-md-12">
                <button (click)="myclick(1)" type="button" class="btn btn-primary">Primary</button>
                <button (click)="myclick(2)" type="button" class="btn btn-secondary">Secondary</button>
                <button  (click)="myclick(3)" type="button" class="btn btn-success">Success</button>
        </div>
    </div>
    